<footer>
  <ul class="list-no-bullets">
    <li>Powered by <a href="https://nodejs.org/en/">NodeJs</a></li>
    <li>Folked from Craig Abbott's blog. <a href="https://github.com/helenspires/work-examples">View this project on GitHub</a></li>    
  </ul>
</footer>
